<div id="new_wish_<%= @item.id %>" class="modal hide fade new_wish_modal" tabindex="1" role="dialog" aria-labelledby="new_wish" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="wishlistt_it">Wishlistt it</h3>
  </div>
  <div id="new_wish">
      <div class="modal-body">
        <p>Choose your list</p>
        <ul class="nav nav-tabs nav-stacked">
          <% current_user.lists.all.each do |list| %>
            <%= form_for(@item.wishes.build(item_id: @item.id, list_id: list.id), :html => {:id => "new_wish_#{list.id}"}, remote: true) do |f| %>
              <%= f.hidden_field :item_id %>
              <%= f.hidden_field :list_id %>
            <% end %>
            <li><%= link_to list.name, "#", :onclick=>"$('#new_wish_#{list.id}').submit(); return false;" %></li>
          <% end %>
        </ul>    
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
  </div>
</div>