<li id="item_id_<%= wish.id %>">
		<div class="inline-block">
			<a class="thumb" href="<%= item_path(wish.item) %>">
				<%= image_tag wish.item.image_url(:thumb).to_s %>
			</a>
		</div>
		<div class="inline-block">
		  <span class="content">
		  	<h4><%= wish.item.title %></h4>
		  	<p>Some more info</p>
		  </span>

		  <span class="timestamp">
		    Created <%= time_ago_in_words(wish.created_at) %> ago.		  
		    <% if current_user?(wish.list.user) %>
		    <%= link_to "Remove", wish, method: :delete,
		                                data: { confirm: "You sure?" },
		                                title: wish.item.title,
		                                remote: true %>
		  	<% end %>
		  </span>
		</div>
		<div class="btn-group">
			<button class="btn btn">Info</button>
			<button class="btn btn">Buy</button>
		</div>
</li>