<li class="media user_list<% if current_page?(url_for(:controller => 'lists', :action => 'show')) %>_large<% end %>_wish" id="wish_<%= wish.id %>" data-item-id="<%= wish.id %>">
		<a class="thumb pull-left" href="<%= wish_path(wish) %>">
			<%= image_tag wish.item.image_url(:thumb).to_s, class: "img-rounded" %>
		</a>
		<div class="media-body">
		  	<h4 class="media-heading ellipsis">
		  		<%= link_to wish.title, wish %>
		  	</h4>
		  	<% if current_page?(url_for(:controller => 'lists', :action => 'show')) %>	
		  		<%= best_in_place_if current_user?(wish.list.user), wish, :note, nil: "Click to add a note" %>
		  	<% end %>
		  	<span class="timestamp">
			    Added <%= time_ago_in_words(wish.created_at) %> ago.		  
			    <% if current_user?(wish.list.user) %>
			    <%= link_to "Remove", wish, method: :delete,
			                                data: { confirm: "You sure?" },
			                                title: wish.item.title,
			                                remote: true %>
			  	<% end %>
		 		 </span>
		</div>
</li>