<li class="user_list_large_wish" id="wish_<%= wish.id %>" data-item-id="<%= wish.id %>">
		<div class="block pull-left">
			<a class="thumb" href="<%= item_path(wish.item) %>">
				<%= image_tag wish.item.image_url(:thumb).to_s %>
			</a>
		</div>
		<div class="block">
		  <span class="content">
		  	<h4><%= link_to wish.item.title, wish.item %></h4>
		  	<%= best_in_place_if current_user?(wish.list.user), wish, :note, nil: "Click to add a note" %>
		  	<span class="timestamp">
			    Created <%= time_ago_in_words(wish.created_at) %> ago.		  
			    <% if current_user?(wish.list.user) %>
			    <%= link_to "Remove", wish, method: :delete,
			                                data: { confirm: "You sure?" },
			                                title: wish.item.title,
			                                remote: true %>
			  	<% end %>
		 		 </span>
		  </span>
		</div>
</li>