<% if current_page?(user_path(@user)) && params[:view] != "organize" %> 
<% wishes = list.wishes.includes(:item).rank(:row_order).limit(4) %>
<!-- Profile lists -->
	<div class="span4">
		<div class="white-box item item-list">
			<div class="image-container">
				<a href="<%= user_list_path(@user,list) %>" class="item-link">
					<em class="mark visible-desktop">
						<p class="muted"><%= list.description %></p>
					</em>
					<% if wishes[0] %>
						<%= image_tag wishes[0].item.image_url(:medium).to_s %>
					<% else  %>
						<%= render partial: 'shared/list_wo_wish', locals: {list: list} %>
					<% end %>
					<div class="row-of-3">
						<% wishes.limit(3).offset(1).each do |wish| %>
							<div class="item-in-row">
								<%= image_tag wish.item.image_url(:thumb).to_s %>
							</div>
						<% end %>
					</div>
				</a>
			</div>
			<h3 class="ellipsis"><%= truncate(list.name, length: 53) %></h3>
			<span class="muted"><%= pluralize(list.wishes.count, 'wish') %></span>
		</div>
	</div>

<% elsif current_page?(user_path(@user)) && params[:view] == "organize" %> 
	<div class="span6">
		<div class="white-box user_list <% if list.private %>private_list<% end %>">
			
				<% if current_user?(list.user) %>
				  <%= link_to "&times;".html_safe, [current_user, list], class: "close", method: :delete,
				                                data: { confirm: "You sure?" },
				                                title: list.name %>
				<% end %>
			
			
				<div class="user_list_title">
					<h3><%= link_to list.name, user_list_path(@user, list) %></h3>
					<p class="muted" id="wishes_count">
						<% if list.private %><a href="#" class="muted tooltip-toggle" rel="tooltip" data-toggle="tooltip" data-title="This list is private"><i class="fa fa-lock"></i></a><% end %>
						<%= pluralize(list.wishes.count, "wish") %>
					</p>
				</div>

			<ul class="user_list_wishes <% if current_user?(list.user) %>dragndrop<% end %> unstyled hidden-phone" id="wishes_<%= list.id %>" data-update-url="<%= sort_wishes_url %>" data-list-id="<%= list.id %>">

				<!-- List wishes -->
				<% if list.wishes.any? %>
					<% list.wishes.includes(:item).rank(:row_order).each do |wish| %>
						<%= render partial: 'wishes/wish', locals: {wish: wish, size: "small"} %>
					<% end %>
				<% end %>
				<%= render partial: 'shared/list_wo_wish', locals: {list: list} %>
			</ul>
			<% if current_user?(list.user) %>
				<%= link_to "Add wish", new_item_path, {remote: true, 'data-toggle' => 'modal', 'data-target' => "#make_wish", id: "add_wish", class: "user_list_add_wish"} %>
			<% end %>
		</div>
	</div>
<% else %>
<!-- Aside sidebar lists -->
	<li class="aside_user_list_wish">
		<div class="block pull-left">
			<%= image_tag(list.wishes.last.item.image_url(:thumb).to_s, class: "img-rounded") if list.wishes.last %>
		</div>
	  <div class="block block-content">
	  	<span class="content">
	  		<span><%= link_to list.name, user_list_path(@user, list) %></span>
			  <span class="timestamp">
			    Updated <%= time_ago_in_words(list.updated_at) %> ago.			        
			  </span>
	  	</span>
	  </div>
	</li>
<% end %>