<% if current_page?(user_path(@user)) %> 
<% wishes = list.wishes.includes(:item).rank(:row_order).limit(4) %>
<!-- Profile lists -->
	<div class="span4">
		<div class="white-box item item-list">
			<div class="image-container">
				<a href="<%= user_list_path(@user,list) %>" class="item-link">
					<em class="mark visible-desktop">
						<p class="muted"><%= list.description %></p>
					</em>
					<%= image_tag wishes[0].item.image_url(:medium).to_s %>
					<div class="row-of-3">
						<% wishes.limit(3).offset(1).each do |wish| %>
							<div class="item-in-row">
								<%= image_tag wish.item.image_url(:thumb).to_s %>
							</div>
						<% end %>
					</div>
				</a>
			</div>
			<h3 class="ellipsis"><%= truncate(list.name, length: 53) %></h3>
			<span class="muted"><%= pluralize(list.wishes.count, 'wish') %></span>
		</div>
	</div>
<% else %>
<!-- Aside sidebar lists -->
	<li class="aside_user_list_wish">
		<div class="block pull-left">
			<%= image_tag(list.wishes.last.item.image_url(:thumb).to_s, class: "img-rounded") if list.wishes.last %>
		</div>
	  <div class="block block-content">
	  	<span class="content">
	  		<span><%= link_to list.name, user_list_path(@user, list) %></span>
			  <span class="timestamp">
			    Updated <%= time_ago_in_words(list.updated_at) %> ago.			        
			  </span>
	  	</span>
	  </div>
	</li>
<% end %>