<% provide(:title, @list.name) %>
<div class="row">
  <div class="span12 user_info">
    <div class="row">
      <div class="span8">
        <%= render partial: 'shared/user_info', locals: {:user => @user} %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
      <div class="white-box user_list">
        <div class="user_list_title">
          <h2><%= best_in_place_if current_user?(@list.user), [@user, @list], :name, nil: "Please name your list" %></h2>
          <p class="muted"><%= pluralize(@list.wishes.count, "wish") %></p>
          <% if current_user?(@list.user) %>
            <%= link_to "Add wish", new_item_path, {remote: true, 'data-toggle' => 'modal', 'data-target' => "#make_wish", id: "add_wish", class: "btn btn-primary btn-small"} %>
            <% end %>
        </div>
        <% unless @list.name %>
          <div class="list-add-wish">
            <%= form_tag items_path, method: :get do %>
              <%= text_field_tag :search, params[:search], :data => {:provide => "typeahead"}, autocomplete: :off, placeholder: "Type the product you wish for or paste a link." %>
            <% end %>
          </div>
        <% end %>
        <ul class="wishes <% if current_user?(@list.user) %>dragndrop<% end %> unstyled" id="list_<%= @list.id %>" data-update-url="<%= sort_wishes_url %>" data-list-id="<%= @list.id %>">
          <% if @list.items.any? %>
            <%= render @wishes %>
          <% else %>
            <%= render partial: 'shared/list_wo_wish', locals: {list: @list} %>
          <% end %>
          <% if current_user?(@list.user) %>
            <%= link_to "Add wish", new_item_path, {remote: true, 'data-toggle' => 'modal', 'data-target' => "#make_wish", id: "add_wish", class: "user_list_add_wish"} %>
          <% end %>
        </ul>
      </div>
  </div>

  <aside class="pull-right span3">
    <%= render 'shared/aside_share' if current_user?(@list.user) %>
    <%= render 'shared/aside_lists' %>
  </aside>

</div>