<% provide(:title, @list.name) %>
<div class="row">
  <div class="span12 user_info">
    <%= render 'shared/user_info' %>
  </div>

  <div class="span9">
    <% if @list.items.any? %>
      <div class="white-box user_list_large">
        <div class="user_list_title">
          <h2><%= @list.name %></h2>
          <p class="muted"><%= pluralize(@list.wishes.count, "wish") %></p>
        </div>
        <ol class="wishes ">
          <%= render @wishes %>
        </ol>
      </div>
    <% else %>
      <%= render 'shared/list_wo_wish' %>
    <% end %>
    <%= render 'shared/list_add_wish' if current_user?(@user) %>  
  </div>

  <aside class="pull-right span3">
    <%= render 'shared/aside_share' %>
    <%= render 'shared/aside_lists' %>
  </aside>

</div>