<% provide(:title, @list.name) %>
<div class="row">
  <%= render 'shared/user_info' %>

  <div class="span9">
    <% if @list.items.any? %>
      <div class="white-box">
        <div class="user_list_title">
          <h2><%= best_in_place_if current_user?(@list.user), [@user, @list], :name, nil: "Please name your list" %></h2>
          <p class="muted"><%= pluralize(@list.wishes.count, "wish") %></p>
        </div>
        <ul class="wishes user_list_large <% if current_user?(@list.user) %>dragndrop<% end %> unstyled" id="list_<%= @list.id %>" data-update-url="<%= sort_wishes_url %>" data-list-id="<%= @list.id %>">
          <%= render @wishes %>
        </ul>
      </div>
    <% else %>
      <%= render 'shared/list_wo_wish' %>
    <% end %>
    <%= render 'shared/list_add_wish' if current_user?(@user) %> 
  </div>

  <aside class="pull-right span3">
    <%= render 'shared/aside_share' %>
    <%= render 'shared/aside_lists' %>
  </aside>

</div>