<% provide(:title, @list.name) %>
<div class="row">
  <div class="span12 user_info">
    <%= render 'shared/user_info' %>
  </div>

  <div class="span9">
    <h2>Wishes in <%= @list.name %> (<%= @list.items.count %>)</h2>
    <% if @list.items.any? %>
      <ol class="lists white-box">
        <%= render @items %>
      </ol>
    <% end %>
  </div>

  <aside class="pull-right span3">
    <h3>Lists (<%= @user.lists.count %>)</h3>

    <div class="clearfix"></div>

    <% if @user.lists.any? %>
      <ol class="nav nav-tabs nav-stacked">
        <%= render @lists %>
      </ol>
    <% end %>
  </aside>

</div>