<% provide(:title, @list.name) %>
<div class="row">
  <div class="span12 user_info">
    <div class="row">
      <div class="span9">
        <%= render partial: 'shared/user_info', locals: {:user => @user} %>
      </div>
      <%= render partial: 'users/follow_stats', locals: {:subject => @user} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="span9">
      <div class="white-box user_list user_list_large">
        <% if current_user?(@list.user) %>
          <a href="#edit_list" role="button" data-toggle="modal" class="pull-right btn edit_list_btn"><i class="fa fa-pencil"></i></a>
        <% end %>
        <div class="user_list_title text-center">
          <h2><%= best_in_place_if current_user?(@list.user), [@user, @list], :name, nil: "Please name your list" %></h2>
          <% if @list.description %>
            <p><%= @list.description %></p>
          <% end %>
          <p class="muted list_meta">
            <% if @list.private? %><span><a href="#" class="muted tooltip-toggle" rel="tooltip" data-toggle="tooltip" data-title="This list is private"><i class="fa fa-lock"></i></a></span><% end %>
            <span><%= pluralize(@list.wishes.count, "wish") %></span>
            <span><i class="fa fa-clock-o"></i> Updated <%= time_ago_in_words(@list.updated_at) %> ago</span>
          </p>
        </div>
        <ul class="wishes <% if current_user?(@list.user) %>dragndrop<% end %> unstyled" id="list_<%= @list.id %>" data-update-url="<%= sort_wishes_url %>" data-list-id="<%= @list.id %>">
          <% if @list.items.any? %>
            <%= render @wishes, size: "large" %>
          <% else %>
            <%= render partial: 'shared/list_wo_wish', locals: {list: @list} %>
          <% end %>
          <% if current_user?(@list.user) %>
            <%= link_to "Add wish", new_item_path, {remote: true, 'data-toggle' => 'modal', 'data-target' => "#make_wish", id: "add_wish", class: "user_list_add_wish"} %>
          <% end %>
        </ul>
      </div>
  </div>

  <aside class="pull-right span3">
    <%= render 'shared/aside_share' if current_user?(@list.user) %>
    <%= render 'shared/aside_lists' %>
  </aside>

</div>

<!-- Modal -->
<div id="edit_list" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit_list" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="share_list">Edit list</h3>
  </div>
  <%= form_for [@user, @list], html: {class: "form-horizontal"} do |f| %>
    <div class="modal-body">    

      <div class="control-group">
        <%= f.label :name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name, placeholder: "Eg. My Wish List" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :description, placeholder: "What's your list for?", rows: 4 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :private, "Private?", class: "control-label" %>
          <div class="controls">
            <label class="checkbox">
              <span class="icons">
                <span class="first-icon fui-checkbox-unchecked"></span>
                <span class="second-icon fui-checkbox-checked"></span>
              </span>
              <%= f.check_box :private %>
            </label>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>