<% provide(:title, 'About Us') %>
<div class="row">
	<div class="span12">
		<h1>About Wishlistt</h1>
	</div>
</div>
<div class="row">
  <div class="span9">
		<h3>Organize and Share Your Wish List</h3>
		<p>
		  What do you wish? Wishlistt is a site to collect the things you wish from around the Web. Whether you are creating a wish list for friends and family prior to a birthday, or a wish list for your wedding, Wishlistt helps you to stay organized, find inspiration and share your wishes. 
		</p>
		<p>Founded by <strong><a class="muted" href="http://dk.linkedin.com/in/danielfriisjensen">Daniel Friis</a></strong> and crafted by hand in <strong>Copenhagen, Denmark</strong>. Wishlistt started as a side project, and is now changing the way people share wishes.</p>
  </div>
  <aside class="pull-right span3">
    <%= render 'shared/aside_hq' %>
    <%= render 'shared/aside_facebook' %>
  </aside>
  <div class="span9 about-boxes">
  	<h2>How it works</h2>
		<span class="text-left">
			<div class="about-imgs pull-left">
				<%= image_tag 'about-collect.gif', class: "animated" %>
				<%= image_tag 'about-collect.png', class: "non-animated" %>
			</div>
			<h2>Collect</h2>
			<p>Easily add products to your wishlist from around the web with the Wishlistt button.</p>
	 	</span>
	 	<span class="text-right">
			<div class="about-imgs pull-right">
				<%= image_tag 'about-organize.gif', class: "animated" %>
				<%= image_tag 'about-organize.png', class: "non-animated" %>
			</div>
			<h2>Organize</h2>
			<p>Wishlistt allows you to easily arrange and sort wishes across all your wishlists.</p>
	 	</span>
		<span class="text-left">
			<div class="about-imgs pull-left">
				<%= image_tag 'about-share.gif', class: "animated" %>
				<%= image_tag 'about-share.png', class: "non-animated" %>
			</div>
			<h2>Share</h2>
			<p>With one click you can e-mail your wishlist to friends and family or export it to PDF.</p>
	 	</span>
	</div>


</div>