<% provide(:title, 'Contact') %>
<div class="row">
	<div class="span12">
		<h1>Contact</h1>
	</div>
</div>
<div class="row">
  <div class="span9">
  	<div class="spacer"></div>
  	<address>
		  <strong>Wishlistt IVS</strong><br>
		  <abbr title="Company Number">CVR:</abbr> 35843019
		</address>
		
		<%= form_for @message, url: contact_support_path do |f| %>

			<%= f.label :subject %>
			<%= f.text_field :subject %>

			<%= f.label :casetype, "Typ of case" %>
			<%= f.select :casetype, [['Please select a case type', 'no-select'], ['Possible problem', 'problem'], ['Feedback', 'feedback'], ['Business Inquiries', 'business'], ['Advertising', 'advertising'], ['Other', 'other']] %>

			<%= f.label :name %>
			<%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "john@doe.com" %>
    
      <%= f.label :body, "Message" %>
      <%= f.text_area :body, rows: 6 %>

		  <%= f.submit "Send", class: "btn btn-primary" %>

		<% end %>

  </div>
  <aside class="pull-right span3">
    <%= render 'shared/aside_hq' %>
    <%= render 'shared/aside_facebook' %>
  </aside>

</div>