<div class="row home_about center">
	<div class="span12">
		<h1>How it works</h1>
	</div>
	<div class="span4">
		<div class="about-imgs">
			<%= image_tag 'about-collect.gif', class: "animated" %>
			<%= image_tag 'about-collect.png', class: "non-animated" %>
		</div>
		<h2>Collect</h2>
		<p>Easily add products to your wishlist from around the web with the Wishlistt button.</p>
 	</div>
 	<div class="span4">
		<div class="about-imgs">
			<%= image_tag 'about-organize.gif', class: "animated" %>
			<%= image_tag 'about-organize.png', class: "non-animated" %>
		</div>
		<h2>Organize</h2>
		<p>Wishlistt allows you to easily arrange and sort wishes across all your wishlists.</p>
 	</div>
	<div class="span4">
		<div class="about-imgs">
			<%= image_tag 'about-share.gif', class: "animated" %>
			<%= image_tag 'about-share.png', class: "non-animated" %>
		</div>
		<h2>Share</h2>
		<p>With one click you can e-mail your wishlist to friends and family or export it to PDF.</p>
 	</div>
</div>
<hr>
<div class="items_home">
	<div class="center">
		<h1>Popular wishes</h1>
	</div>
	<div class="spacer"></div>
	<div class="row">
	  <%= render @items.limit(6) %>
	</div>
	<div class="center">
		<%= link_to "Find more inspiration", inspiration_path, class: "btn" %>
	</div>
</div>
<hr>
<div class="signup_home center">
	<a href="#signUp" role="button" class="btn btn-large btn-primary" data-toggle="modal">Sign up for free</a>
	<div class="spacer"></div>
	<p>Start collecting your wishes!</p>
</div>