<div class="row plugin-index">
    <div class="span6 white-box">
        <% if signed_in? %>
            <h5 class="choose-list-header">Choose wish list&hellip;</h5>

            <ul class="lists">
                <% current_user.lists.each do |list| %>
                    <li><%= list.name %></li>
                <% end %>

            </ul>

            <div class="new-list">
                <div class="white-box create-list" class="create-list">
	                <%= form_for([current_user, @list]) do |f| %>
	                    <%= f.text_field :name, placeholder: 'Create new list...', class: 'input-medium name' %>
	                    <%= f.submit 'Add', class: 'btn add' %>
                        <a class="btn cancel">Cancel</a>
	                <% end %>
                </div>

                <div class="show-create-list">
                    New wish list
                </div>
            </div>
        <% else %>
            <ul class="wishes">
                <% @wishes.each do |wish| %>
                    <li>
                        <%= image_tag wish['picture'], size: '60x60' %>
                        <%= content_tag :p, wish['title'], class: 'title' %>
                        <p class="from">from <strong><%= wish['price'] %></strong></p>
                    </li>
                    <hr>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>

<% if not signed_in? %>
    <div class="row">
        <div class="span6 white-box cta">
            <%= button_to 'Save wish list', plugin_signup_path, class: 'btn btn-medium btn-inverse', form_class: 'save-button' %>

            &hellip; or <%= link_to 'sign in', plugin_signin_path %> to <a href="http://www.wishlistt.com" target="_parent">Wishlistt</a>
            <br>
            <%= link_to 'Clear list', '#', class: 'clear-list' %>
        </div>
    </div>

<% end %>
