<div class="row">
    <div class="span6 white-box">
        <% if signed_in? %>
            Davs
            <%= link_to "Sign out", plugin_signout_path %>
        <% else %>
            <ul class="wishes">
                <% @wishes.each do |wish| %>
                    <li>
                        <%= image_tag wish['picture'], size: '60x60' %>
                        <%= content_tag :p, wish['title'], class: 'title' %>
                        <p class="from">from <strong><%= wish['price'] %></strong></p>
                    </li>
                    <hr>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="span6 white-box cta">
        <% if not signed_in? %>
            <%= button_to 'Save wish list', plugin_signup_path, class: 'btn btn-medium btn-inverse', form_class: 'save-button' %>

            &hellip; or <%= link_to 'sign in', plugin_signin_path %> to <a href="http://www.wishlistt.com" target="_parent">Wishlistt</a>
            <br>
            <%= link_to 'Clear list', '#', class: 'clear-list' %>
        <% end %>
    </div>
</div>
