<!DOCTYPE html>
<html>
    <head>
        <title>Halusta Plugin Widget</title>
        <meta name="keywords" content="<%= meta_keywords %>" />
        <meta name="description" property="og:description" content="<%= meta_description %>" />
        <meta name="image" property="og:image" content="<%= 'http://www.halusta.com' + asset_path('share-logo.png') %>" />
        <meta name="image" property="og:image" content="<%= meta_image %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <style type="text/css">
         body {
           overflow: hidden;

           margin: 2px;
           padding: 0;

           font-weight: bold;
           font-family: Helvetica, Arial, sans-serif;

           cursor: pointer;
         }

         img {
           display: inline;
           margin: 0;
           width: 40px;
           height: 40px;
         }

         .label {
           position: absolute;
           top: 14px;
           left: 53px;

           font-size: 14px;
         }
        </style>

        <%= javascript_include_tag "plugin/widget" %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <div class="content">
            <div class="image">
                <img src="" width="50" height="50"/>
            </div>

            <div class="label">Add to wish list</div>
        </div>
    </body>
</html>
