<%= render 'shared/error_messages', object: f.object %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :gender %>

<%= f.label :gender, class: "radio" do %>
	<%= f.radio_button :gender, "Female" %> 
	Female
<% end %>

<%= f.label :gender, class: "radio" do %>
	<%= f.radio_button :gender, "Male" %>
	Male
<% end %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :avatar, "Choose a profile picture" %>
<%= f.file_field :avatar %>

<% unless f.object.new_record? %>

<p>Email me when...</p>

	<%= f.label :follower_notification, class: "checkbox" do %>
		<%= f.check_box :follower_notification %>
		someone follows me
	<% end %>

	<%= f.label :comment_notification, class: "checkbox" do %>
		<%= f.check_box :comment_notification %>
		someone comments on my wish
	<% end %>

<% end %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirm password" %>
<%= f.password_field :password_confirmation %>