<% provide(:title, 'Find Friends') %>
<div class="row">
	<div class="span12">
		<h1>Find Friends</h1>
	</div>
</div>

<div class="row">
	<div class="span9">
		<div>
			<%= form_tag(users_path, :method => "get", id: "search-form", class: "form-search form-inline") do %>
				<%= text_field_tag :search, params[:search], class: "span6", placeholder: "Search for friends" %>
				<%= submit_tag "Search", class: "btn btn-primary" %>
			<% end %>
		</div>

		<ul class="users">
			<%= render @users %>
		</ul>

		<%= will_paginate @users, page_links: false %>
	</div>
	<aside class="pull-right span3">
		<%= render 'shared/aside_facebook' %>
	</aside>
</div>