<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
    <li>
      <%= image_tag avatar(user, :medium), alt: user.name, class: "gravatar img-rounded" %>
      <div><%= link_to user.name, user %></div>
      <div><%= pluralize(user.wishes.count, "wish") %></div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>