<% provide(:title, @user.name) %>
<div class="row">
  <div class="span12 user_info">
    <%= render 'shared/user_info' %>
  </div>

  <div class="span9">
    <% if @user.wishes.any? %>
      <ol class="lists white-box">
        <%= render @wishes %>
      </ol>
    <% else %>
      <%= render 'shared/list_wo_wish' %>
    <% end %>
  </div>

  <aside class="pull-right span3">
    <%= render 'shared/aside_share' %>
    <%= render 'shared/aside_lists' %>
    <%= render 'shared/create_list' if current_page?(user_path(@user)) %>
  </aside>

</div>