<% provide(:title, @user.name) %>
<div class="row">
  <div class="span12 user_info">
    <%= render 'shared/user_info' %>
  </div>

  <div class="span9">
    <%= render 'shared/wish_list_sort' %>
  </div>
   <aside class="pull-right span3">
    <%= render 'shared/aside_share' %>
    <%= render 'shared/aside_lists' %>
  </aside>
  <div class="span9">
    
    <% if @user.wishes.any? %>
      <ol class="wishes white-box">
        <%= render @wishes %>
      </ol>
    <% else %>
      <%= render 'shared/list_wo_wish' %>
    <% end %>
    <%= render 'shared/list_add_wish' if current_user?(@user) %>
  </div>
</div>