<div class="list-add-wish visible-desktop">
  <%= form_for(Item.new, html: { multipart: true }) do |f| %>

    <%= text_field_tag :search, params[:search], :data => {:provide => "typeahead"}, autocomplete: :off, placeholder: "Type the product you wish for or paste a link." %>

    <div class="item_fields" style="display:none;">
      <hr />

      <span id="item-display-image" class="btn btn-default btn-large btn-file pull-right" style="background-image:url(<%= asset_path('choose-image.png') %>);" data-images="" >
        <%= f.file_field :image, onchange: "readURL(this);" %>
      </span>

      <%= f.hidden_field :remote_image_url, placeholder: "http://www.abc-shop.com/image.png" %>

      <%= f.text_field :title, placeholder: "Product title (Warm Sweater from ABC Brand)" %>

      <%= f.text_field :link, placeholder: "Optional: Link to product (http://www. ...)" %>

      <%= f.hidden_field :price, placeholder: "Optional: Price (E.g.: 20 USD or 100 DKK)" %>

      <%= text_field_tag :note, nil, placeholder: "Optional: Short comment (E.g. Love it in blue!)" %>

      <%= hidden_field_tag :list_id, @list.id %>

      <label class="checkbox">
        <span class="icons">
          <span class="first-icon fui-checkbox-unchecked"></span>
          <span class="second-icon fui-checkbox-checked"></span>
        </span>
        <%= label :wish, "hide", "Hide from inspiration feed" %>
        <%= check_box :wish, "hide", {}, "true", "false" %>
      </label>

      <%= f.hidden_field :gender, value: @user.gender %>

      <%= f.hidden_field :via %>

      <%= f.submit "Add wish", class: "btn btn-primary" %>

      <hr />
    </div>
  <% end %>
</div>