<% user ||= @user %>
<div class="span8">
  <a href="<%= user_path(user) %>">
    <%= image_tag avatar(user, :large), alt: user.name, class: "gravatar img-rounded" %>
  </a>

  <h1><%= user.name %></h1>
  <span>
    <% if user.location? %>
      <i class="icon-map-marker"></i> <%= user.location %> 
    <% end %> 
    <% if user.gender? %> 
      <i class="icon-user"></i> <%= user.gender %>
    <% end %>
  </span>
  <span>
    <%= render partial: 'users/follow_form', locals: {:user => user} if signed_in? %>
    <%= render partial: 'users/follow_stats', locals: {:user => user} %>
  </span>
</div>
<!-- <a href="#" class="btn">Follow</a> -->
