<a href="<%= user_path(@user) %>">
  <%= image_tag avatar(@user, :large), alt: @user.name, class: "gravatar img-rounded" %>
</a>
<h1>
  <%= @user.name %>
</h1>
<span>
  <i class="icon-map-marker"></i> <%= @user.location %>
</span>
<span>
  <% if current_page?(user_path(@user)) %>
  	<h3>All wishes (<%= @user.wishes.count %>)</h3>
  <% else %>
  	<h3><%= @list.name %> (<%= @list.items.count %>)</h3>
  <% end %>
</span>