<% user ||= @user %>

  <a href="<%= user_path(user) %>">
    <%= image_tag avatar(user, :large), alt: user.name, class: "gravatar gravatar-large img-rounded" %>
  </a>

  <h1><%= link_to user.name, user, class: "no-color ellipsis" %></h1><%= render partial: 'users/follow_form', locals: {:subject => user} if signed_in? %>
  <span class="user-socials muted">
    <% if user.location? %>
      <span><i class="fa fa-map-marker"></i> <%= user.location %> </span>
    <% end %>
    <% if user.website? %> 
      <span>
        <%= link_to user.website, target: "_blank" do %>
        <i class="fa fa-globe"></i> <%= user.website.gsub("http://", '').gsub("https://", '').gsub("www.", '') %>
        <% end %>
      </span>
    <% end %>
    <% if user.twitter? %> 
      <span>
        <%= link_to "http://www.twitter.com/" + user.twitter, target: "_blank" do %>
          <i class="fa fa-twitter"></i>
        <% end %>
      </span>
    <% end %>
    <% if user.instagram? %> 
      <span>
        <%= link_to "http://www.instagram.com/" + user.instagram, target: "_blank" do %>
          <i class="fa fa-instagram"></i>
        <% end %>
      </span>
    <% end %>
    <% if user.pinterest? %> 
      <span>
        <%= link_to "http://www.pinterest.com/" + user.pinterest, target: "_blank" do %>
          <i class="fa fa-pinterest"></i>
        <% end %>
      </span>
    <% end %>
    <% if user.facebook? %> 
      <span>
        <%= link_to "http://www.facebook.com/" + user.facebook, target: "_blank" do %>
          <i class="fa fa-facebook"></i>
        <% end %>
      </span>
    <% end %>
  </span>
  <span class="user-bio">
    <%= user.bio %>
  </span>

<!-- <a href="#" class="btn">Follow</a> -->
