<% vendor ||= @vendor %>

  <a href="<%= vendor_path(vendor) %>">
    <img src="<%= root_url %>assets/default_images/vendor.png" class="gravatar gravatar-large img-rounded">
  </a>

  <h1><%= link_to vendor.name, vendor, class: "no-color" %></h1><%= render partial: 'users/follow_form', locals: {:subject => vendor} if signed_in? %>
  <span>
    <i class="fa fa-globe"></i> <%= link_to vendor.url, vendor.url, class: "muted", target: "_blank" %> 
  </span>

<!-- <a href="#" class="btn">Follow</a> -->
