<% provide(:title, "Sign in") %>

<div class="row plugin-signin">
    <div class="span6 white-box">
        <%= link_to "< Back", plugin_path %>
        <h3>Sign in</h3>
        <hr>
    </div>
</div>

<div class="row plugin-signin">
    <div class="span6 white-box center-text">
        <span class="spacer center">
            <a href="auth/facebook" class="btn btn-facebook btn-large">
                <i class="icon-facebook icon-large"></i><span> Sign in with Facebook</span>
            </a>
        </span>

        <div>or use your username and password</div>

        <%= form_for :session, url: sessions_path do |f| %>

            <%= f.text_field :email, placeholder: 'E-mail' %>

            <%= f.password_field :password, placeholder: 'Password' %>
            <div>
                <%= f.submit "Sign in", class: 'btn btn-medium btn-inverse' %>
            </div>
        <% end %>

        <hr>

        <p>
            <%= link_to "New user?", plugin_signup_path %>
        </p>
    </div>
</div>
