<div class="shop_now">
	<% if item.vendor.present? && item.price.present? %>
    <h1 class="price"><%= link_to exchanged_price(item), item.link %></h1>
    <p class="muted">from <strong><%= link_to item.vendor.name, item.vendor.url, target: "_blank" %></strong></p>
    <%= link_to "Buy Gift", item.link, class: "btn btn-primary btn-large btn-block shop-link", target: "_blank" %>
  <% elsif item.vendor.present? && item.price.nil? %>
		<%= link_to "Buy Gift", item.link, class: "btn btn-primary btn-large btn-block shop-link", target: "_blank" %>
    <p class="muted">from <strong><%= link_to item.vendor.name, item.vendor.url, target: "_blank" %></strong></p>
  <% elsif item.link.present? %>
  	<h3>May be found here</h3>
  	<p><%= item.link %></p>
  <% else %>
    <h3>Additional Info</h3>
  	<%= best_in_place item, :link, nil: "Add a link to this wish" %>
  <% end %>
</div>