<% if current_page?(root_url) %>

<div class="span4">
	<div class="white-box">
		<a href="<%= item_path(item) %>">
			<%= image_tag item.image_url(:medium).to_s %>
		</a>
		<%= item.title %>
		<%= item.wishes.count %>
	</div>
</div>

<% else %>

<li>
	<div class="clearfix">
		<a class="thumb" href="<%= item_path(item) %>">
			<%= image_tag item.image_url(:thumb).to_s %>
		</a>
		<div class="clearfix">
		  <span class="content">
		  	<%= item.title %>, <%= item.link %>
		  </span>
		  <span class="timestamp">
		    Created <%= time_ago_in_words(item.created_at) %> ago.		  
		    <% if current_user?(item.lists.last.user) %>
		    <%= link_to "delete", item, method: :delete,
		                                data: { confirm: "You sure?" },
		                                title: item.title %>
		  	<% end %>
		  </span>

		</div>
	</div>
</li>

<% end %>