<div class="span4">
	<div class="white-box item">
		<div class="image-container">
			<%= render 'shared/wishlistt_it', item: item %>
			<a href="<%= item_path(item) %>" class="item-link">
				<em class="mark"></em>
				<%= image_tag item.image_url(:medium).to_s %>
			</a>
		</div>
		<h3><%= truncate(item.title, length: 53) %></h3>
		<%= item.wishes.count %> wishes this item

	</div>
</div>