<div class="span4">
	<div class="white-box item">
		<div class="image-container">
			<%= link_to "Wishlistt it", new_wish_path(item_id: item.id), id: "new_wish_link", class: "btn btn-primary btn-large", remote: true %>
			<a href="<%= item_path(item) %>" class="item-link">
				<em class="mark"></em>
				<%= image_tag item.image_url(:medium).to_s %>
			</a>
		</div>
		<h3><%= item.title %></h3>
		<%= item.wishes.count %> wishes this item

	</div>
</div>