<div class="span4">
	<div class="white-box item">
		<div class="image-container">
			<%= render 'wishes/wishlistt_it_form', item: item unless mobile_device? %>
			<a href="<%= item_path(item) %>" class="item-link">
				<em class="mark visible-desktop"></em>
				<%= image_tag item.image_url(:medium).to_s %>
			</a>
		</div>
		<h3 class="ellipsis"><%= truncate(item.title, length: 53) %>
		<% if item.price.present? && mobile_device? %><span class="muted price"><br><%= exchanged_price(item) %></span><% end %></h3>
		<% if item.vendor %><span class="muted">from <%= link_to item.vendor.name, item.vendor %></span><% end %>
		<% if item.price.present? && !mobile_device? %><p class="muted price item-meta"><%= exchanged_price(item) %></p><% end %>
		<%= render 'wishes/wishlistt_it_form', item: item if mobile_device? %>
		<p class="muted social-count item-meta"><i class="fa fa-heart-o"></i> <%= item.wishes.count %> <i class="fa fa-thumbs-o-up"></i> <%= item.likes.count %><% if signed_in? && current_user.admin? %> <i class="fa fa-star"></i> <%= item.popularity_score %><% end %></p>
	</div>
</div>