<div class="row">
	<div class="span12">
		<ul class="nav nav-pills sort_general pull-left">
		  <% if signed_in? %><li><%= sortable_general "following" %></li><% end %>
			<li><%= sortable_general "popular" %></li>
		  <li><%= sortable_general "recent" %></li>		  
		</ul>
		<div class="hidden-phone btn-group sort_gender pull-right">
			<%= sortable_gender "all" %>
			<%= sortable_gender "Male" %>
			<%= sortable_gender "Female" %>
		</div>
	</div>
</div>
<div class="row inspiration">
  <%= render @items %>
  <%= render 'no_following' if signed_in? && current_user.followed_users.empty? && current_user.followed_vendors.empty? && ( params[:sort] == nil || params[:sort] == "following" ) %>
</div>

<div id="inspiration-pagination">
	<%= will_paginate @items %>
</div>