<div class="row">
	<div class="span12">
		<ul class="nav nav-pills sort_general pull-left">
		  <li><%= sortable_general "following" %></li>
			<li><%= sortable_general "popular" %></li>
		  <li><%= sortable_general "recent" %></li>		  
		</ul>
		<div class="hidden-phone btn-group sort_gender pull-right">
			<%= sortable_gender "all" %>
			<%= sortable_gender "Male" %>
			<%= sortable_gender "Female" %>
		</div>
	</div>
</div>
<div class="row inspiration">
  <%= render @items %>
  <%= render 'no_following' if current_user.followed_users.empty? && params[:sort] == "following" %>
</div>

<%= will_paginate @items %>