<% provide(:title, @item.title) %>
<div class="row">
  <div class="span12">
    <h1><%= @item.title %></h1>
    <div class="spacer hidden-phone"></div>
  </div>
  <div class="span8">
    <div class="white-box item-big">
      <div class="image-container">
        <%= render 'shared/wishlistt_it', item: @item %>
        <em class="mark"></em>
        <%= image_tag @item.image_url.to_s %>
      </div>
    </div>
    <div class="spacer"></div>
    <%= render 'comments/comments' %>
    <%= render 'comments/form' if signed_in? %>
  </div>
  <aside class="span4 shop_now">
    <%= link_to "Shop Now", @item.link, class: "btn btn-primary btn-large btn-block", target: "_blank" %>
    <p class="muted">from <strong><%= @item.vendor.name %></strong></p>
    <hr>
  </aside>
  <aside class="span4 social-count">
    <ul class="unstyled">
      <li>
        <i class="icon-heart"></i> 
        <% if @item.lists.any? && @item.lists.last.user %>
          <%= link_to @item.lists.last.user.name, user_path(@item.lists.last.user) %> 
          
          <% if @item.wishes.count > 1 %> 
            and <%= pluralize(@item.wishes.count - 1, 'other') %> wishes this.
          <% end %>

        <% else %>
          Be the first to wish this
        <% end %>
      </li>
      <li><i class="icon-eye-open"></i> <%= pluralize(@item.impressionist_count(:filter=>:ip_address), 'view') %></li>
    </ul>
  </aside>
  <aside class="span4">
    <h3>More from <%= link_to @item.vendor.name, @item.vendor.url, target: "_blank" %></h3>
    <div class="">
      <% @item.vendor.items.all.sample(9).each do |item| %>
      <%= link_to image_tag(item.image_url(:thumb), class: "img-rounded", style: "margin-bottom:4px;width:95px;height:95px;"), item %>
      <% end %>
    </div>

  </aside>

</div>