<% provide(:title, @item.title) %>
<% meta_image @item.image_url.to_s %>
<div class="row">
  <div class="span12">
    <h1><%= best_in_place_if @item.lists.any? && current_user?(@item.wishes.first.list.user) && @item.wishes.count < 5, @item, :title, nil: "Please name this product" %></h1>
    <div class="spacer hidden-phone"></div>
  </div>
  <div class="span8">
    <div class="white-box item-big">
      <div class="image-container">
        <%= render 'wishes/wishlistt_it_form', item: @item %>
        <em class="mark"></em>
        <%= image_tag @item.image_url.to_s %>
      </div>
    </div>
    <div class="spacer"></div>
    <%= render 'comments/comments', item: @item unless @item.comments.count == 0 && !signed_in? %>
    <%= render 'comments/form' if signed_in? %>
  </div>
  <aside class="span4">
    <%= render 'aside_shop_now', item: @item %>
    <%= render 'aside_social_count' %>
    <%= render 'shared/aside_more_vendor', item: @item %>
  </aside>
</div>