<% provide(:title, @item.title) %>
<div class="row">
  <div class="span12">
    <h1><%= @item.title %></h1>
  </div>
  <div class="span8">
    <div class="white-box item-big">
      <div class="image-container">
        <%= render 'shared/wishlistt_it', item: @item %>
        <em class="mark"></em>
        <%= image_tag @item.image_url.to_s %>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
  <aside class="span4">
    <%= link_to "Buy", @item.link, class: "btn btn-large btn-block", target: "_blank" %>
    <h3>Additional info</h3>
    <%= pluralize(@item.impressionist_count(:filter=>:ip_address), 'view') %>
    <% if @item.lists.any? && @item.lists.last.user %>
      <p><%= link_to @item.lists.last.user.name, user_path(@item.lists.last.user) %> and <%= pluralize(@item.wishes.count, 'other') %> wishes this.</p>
    <% else %>
      <p>Be the first to wish this item!</p>
    <% end %>
  </aside>

</div>