<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Wishlistt", root_path, class: "brand logo" %>
      <% if signed_in? %>
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
            
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li>
            <a href="#make_wish" role="button" data-toggle="modal">Add wish</a>
          </li>
          <li class="hidden-desktop">
            <a href="<%= user_path(current_user) %>"><%= current_user.name %><%= image_tag avatar(current_user, :small), alt: current_user.name, class: "gravatar img-rounded" %></a>
          </li>
          <li class="hidden-desktop">
            <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
          <li class="dropdown visible-desktop">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %><%= image_tag avatar(current_user, :small), alt: current_user.name, class: "gravatar img-rounded" %>
            </a>
            <ul class="dropdown-menu dropdown-inverse">
              <li><%= link_to "My wish lists", current_user %></li>
              <li class="divider"></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "About", about_path %></li>
              <li class="divider"></li>
              <li>

                <%= link_to "Sign out", signout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <% else %>

      <ul class="nav pull-right">  
        <li><%= link_to "About", about_path %></li>
        <li class="divider-vertical"></li>
        <li>
          <%= link_to "Login", signin_path %>
        </li>
        <li><p class="muted">or</p></li>
        <li>
          <a href="#signUp" role="button" data-toggle="modal">Sign up</a>
        </li>
      </ul>

      <% end %>

    </div>
  </div>


</header>