<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="keywords" content="<%= meta_keywords %>" />
    <meta name="description" property="og:description" content="<%= meta_description %>" />
    <meta name="image" property="og:image" content="<%= 'http://www.wishlistt.com' + asset_path('share-logo.png') %>" />
    <meta name="image" property="og:image" content="<%= meta_image %>" />
    <%= render 'layouts/mixpanel_setup' if Rails.env.production? %>
    <%= render 'layouts/mixpanel_logged_in_users' if signed_in? && Rails.env.production? %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= render 'layouts/shim' %>
    <%= render 'layouts/google_analytics' if Rails.env.production? %>
  </head>

  <body <% if mobile_device? %>class="touch-device"<% end %>>
    <% if mobile_device? %>
      <div class="scroll-container">      
        <div class="scroll-body"> 
    <% end %>
        <%= render 'layouts/header' %>  
        <%= render 'layouts/jumbotron' if current_page?('/') && !signed_in? %>
        <div class="container spacer hidden-phone"></div>
        <div class="container">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
          <%= debug(params) if Rails.env.development? %>
        </div>
        <%= render 'shared/add_wish' if signed_in? %>
        <%= render 'layouts/footer' %>
        <%= render 'layouts/skimlinks' unless Rails.env.development? %>
        <%= render 'layouts/uservoice' unless mobile_device? %>
      <% if mobile_device? %>
          </div>
        </div>
      <% end %>
      <%= render 'layouts/signin_modal' if !signed_in? %>
  </body>
</html>